[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
pandas = "*"
PyGithub = "*"
typer = "*"
python-dotenv = "*"
transformers = "*"

[dev-packages]
pytest = "*"
black = "==21.5b1"
wandb = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
