[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
typer = "*"
python-dotenv = "*"
transformers = "*"
Markdown = "*"
fastapi = "*"
uvicorn = "*"
Pygments = "*"
click-spinner = "*"

[dev-packages]
pytest = "*"
black = "==21.5b1"
wandb = "*"
pygithub = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
